// STYLEGUIDE
$col-primary-red: hsl(0, 78%, 62%)
$col-primary-cyan: hsl(180, 62%, 55%)
$col-primary-orange: hsl(34, 97%, 64%)
$col-primary-blue: hsl(212, 86%, 64%)
$col-neutral-dark: hsl(234, 12%, 34%)
$col-neutral-medium: hsl(229, 6%, 66%)
$col-neutral-light: hsl(0, 0%, 98%)
$font-stack: 'Poppins', Helvetica, sans-serif
$font-weight-light: 200
$font-weight-regular: 400
$font-weight-bold: 600
$font-base-size: 15px
$shadow: 0px 18px 18px -8px rgba(76,78,97,0.2)

/*
 * BASE LAYOUT
 */
*
  box-sizing: border-box
  font-family: $font-stack
  color: $col-neutral-dark
body
  margin: 0
  padding: 32px
  font-size: $font-base-size
  background: $col-neutral-light
h1
  font-size: 1.6em
h2
  font-size: 1.3em
p
  line-height: 1.6
  color: $col-neutral-medium

// HEADING
#heading
  text-align: center
  padding-top: 30px
  padding-bottom: 80px
  max-width: 510px
  margin: 0 auto
.regular-block
  font-weight: $font-weight-light
  display: block

// CARDS
#card-area
  margin: 0 auto
  max-width: 1110px
  display: grid
.card
  background: white
  border-radius: 4px 4px 8px 8px
  padding: 25px
  margin-bottom: 30px
  border-top: 3px solid $col-neutral-dark
  -webkit-box-shadow: $shadow
  -moz-box-shadow: $shadow
  box-shadow: $shadow
.card h2
  margin-top: 5px
  margin-bottom: 5px
.card p
  font-size: 0.9em
  margin-top: 0
.card .icon
  text-align: right
  margin-top: 30px
.card:first-of-type
  border-top-color: $col-primary-cyan
.card:nth-of-type(2)
  border-top-color: $col-primary-red
.card:nth-of-type(3)
  border-top-color: $col-primary-orange
.card:last-of-type
  border-top-color: $col-primary-blue

/*
 * RESPONSIVE CHANGES FOR:
 * Medium viewports, over 650px wide
 */
@media screen and (min-width: 650px)
  h1
    font-size: 2.2em
  #card-area
    grid-template-columns: 1fr 1fr
    grid-gap: 0 30px

/*
 * RESPONSIVE CHANGES FOR:
 * Large viewports, over 900px wide
 */
@media screen and (min-width: 900px)
  #feature
    max-width: 1440px
  #card-area
    grid-template-columns: 1fr 1fr 1fr
  .card:first-of-type
    grid-column: 1 / span 1
    grid-row: 2 / span 2
  .card:nth-of-type(2)
    grid-column: 2 / span 1
    grid-row: 1 / span 2
  .card:nth-of-type(3)
    grid-column: 2 / span 1
    grid-row: 3 / span 2
  .card:last-of-type
    grid-column: 3 / span 1
    grid-row: 2 / span 2
